mobile_app/node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# macOS Folder Icon
# This breaks sometimes. If Icon tries to sneak its way 
# back into the repo, delete the following lines and run
# this command to add the proper characters to this file:
#   printf "Icon[\r]" >> .gitignore
Icon[]