# mobile_app
mobile_app/node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# api
api/venv/**/*
api/.vscode/**/*
api/__pycache__
api.log

# macOS
.DS_Store
